In [ ]:
#FASE 1

In [4]:
#Librerias y versiones
import pandas as pd
import numpy as np
import sqlite3

print(f"Pandas version: {pd.__version__}")
print(f"Numpy version: {np.__version__}")

Pandas version: 2.0.3
Numpy version: 1.24.4

In [5]:
#leer archivo y comprobaciones

df = pd.read_csv('ecommerce_orders.csv')

print(f"Dataset cargado") 

print(f"Dataset cargado correctamente")
print(f"dimensiones: {df.shape}")
df.head(5)

Dataset cargado
Dataset cargado correctamente
dimensiones: (10000, 15)

,order_id,customer_id,customer_name,product_id,product_name,category,order_date,quantity,unit_price,total_price,payment_method,country,city,status,update_time
0,1.0,1921,Lucía Fernández,25,MacBook Pro,Tecnología,07-13-2023,5.0,755.33,3776.65,Tarjeta,IT,Valencia,Cancelado,2023-07-13 21:00:00
1,2.0,1940,Juan Pérez,186,Samsung Galaxy,Tecnología,2024-03-25,1.0,1901.92,1901.92,Transferencia,DE,Madrid,Pendiente,2024-03-25 07:00:00
2,3.0,1593,Ana Sánchez,7,iPhone 13,Tecnología,07/09/2023,2.0,1466.67,2933.34,Bizum,spain,Barcelona,Entregado,2023-09-07 13:00:00
3,4.0,1765,María García,86,Aspiradora Dyson,Hogar,08-02-2024,3.0,1201.33,3603.99,Tarjeta,France,Paris,Entregado,2024-08-02 02:00:00
4,5.0,1724,DAVID GÓMEZ,20,Bolso Gucci,Moda,03/10/2023,1.0,320.48,320.48,Transferencia,FR,Lyon,Entregado,2023-10-03 19:00:00

In [6]:
#Cantidad de columnas por tipo de datos
print(df.dtypes.value_counts())

#Informacion del dataset columna a columna
print(df.info())

#Información de las columnas numericas
print(df.describe())

object     10
float64     3
int64       2
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        9893 non-null   float64
 1   customer_id     10000 non-null  int64
 2   customer_name   10000 non-null  object
 3   product_id      10000 non-null  int64
 4   product_name    10000 non-null  object
 5   category        10000 non-null  object
 6   order_date      10000 non-null  object
 7   quantity        9908 non-null   float64
 8   unit_price      10000 non-null  object
 9   total_price     9002 non-null   float64
 10  payment_method  10000 non-null  object
 11  country         10000 non-null  object
 12  city            10000 non-null  object
 13  status          10000 non-null  object
 14  update_time     10000 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.1+ MB
None
           order_id   customer_id   product_id     quantity   total_price
count   9893.000000  10000.000000  10000.00000  9908.000000   9002.000000
mean    5000.064995   1499.522900    100.79510     3.021700   2971.243633
std     2886.739616    289.944858     57.80739     1.420635   2389.090169
min        1.000000   1000.000000      1.00000     1.000000      0.000000
25%     2500.000000   1246.000000     50.00000     2.000000   1085.835000
50%     5001.000000   1503.000000    102.00000     3.000000   2273.220000
75%     7500.000000   1750.000000    151.00000     4.000000   4415.380000
max    10000.000000   1999.000000    200.00000     5.000000  10962.671126

In [ ]:
#Columnas con campos sin valor (nulos)
print(df.isnull().sum())

#Columnas con valores duplicados
print(f"Valor duplicado: {df.duplicated().sum()}")

#Tipos de campos (para detectar duplicados o errores)
df.describe(include=['object'])

In [ ]:
#Mostramos las columnas a normalizar o que contienen nulos.

#Numericas
print(df['order_id'].value_counts())
print(df['quantity'].value_counts())
print(df['unit_price'].value_counts())

#Fechas
print(df['order_date'].head())

In [ ]:
#FIN FASE 1

In [ ]:
#SEPARADOR

In [ ]:
#FASE 3

In [12]:
#Quitar las casillas sin valores (nulos)

df['quantity'] = df['quantity'].fillna(0)

df['order_id'] = pd.to_numeric(df['order_id'], errors='coerce')
ultimo_id = df['order_id'].max()


for i in df.index:
    if pd.isna(df.at[i, 'order_id']):
        ultimo_id += 1
        df.at[i, 'order_id'] = ultimo_id

df['order_id'] = df['order_id'].astype(int)

df.head(20)

,order_id,customer_id,customer_name,product_id,product_name,category,order_date,quantity,unit_price,total_price,payment_method,country,city,status,update_time
0,1,1921,Lucía Fernández,25,MacBook Pro,Tecnología,07-13-2023,5.0,755.33,3776.650000,Tarjeta,IT,Valencia,Cancelado,2023-07-13 21:00:00
1,2,1940,Juan Pérez,186,Samsung Galaxy,Tecnología,2024-03-25,1.0,1901.92,1901.920000,Transferencia,DE,Madrid,Pendiente,2024-03-25 07:00:00
2,3,1593,Ana Sánchez,7,iPhone 13,Tecnología,07/09/2023,2.0,1466.67,2933.340000,Bizum,spain,Barcelona,Entregado,2023-09-07 13:00:00
3,4,1765,María García,86,Aspiradora Dyson,Hogar,08-02-2024,3.0,1201.33,3603.990000,Tarjeta,France,Paris,Entregado,2024-08-02 02:00:00
4,5,1724,DAVID GÓMEZ,20,Bolso Gucci,Moda,03/10/2023,1.0,320.48,320.480000,Transferencia,FR,Lyon,Entregado,2023-10-03 19:00:00
5,6,1856,Lucía Fernández,63,iPhone 13,tecnologia,10-08-2024,5.0,320.43,1602.150000,Tarjeta,IT,Paris,Pendiente,2024-10-08 20:00:00
6,7,1710,Carlos Ruiz,32,iPhone 13,Tecnología,2024-03-10,1.0,125.59,125.590000,Bizum,ES,Milán,Entregado,2024-03-10 23:00:00
7,8,1477,Juan Pérez,21,Reloj Casio,Accesorios,03/02/2023,3.0,"1733,69",NaN,Bizum,spain,Lyon,Entregado,2023-02-03 15:00:00
8,9,1185,Carlos Ruiz,71,Reloj Casio,Accesorios,08-27-2024,4.0,"1206,22",NaN,Transferencia,España,Hamburgo,Pendiente,2024-08-27 15:00:00
9,10,1547,Laura Torres,94,MacBook Pro,Tecnología,2024-10-05,5.0,1419.06,7095.300000,Bizum,DE,Berlín,Cancelado,2024-10-05 15:00:00
10,11,1742,David Gómez,185,Camiseta Adidas,Moda,27/04/2024,3.0,50.96,152.880000,PayPal,España,Barcelona,Pendiente,2024-04-27 05:00:00
11,12,1028,Pedro López,31,Bolso Gucci,HOGAR,05-17-2024,2.0,1940.12,3880.240000,Tarjeta,Germany,Hamburgo,Pendiente,2024-05-17 15:00:00
12,13,1713,María García,161,Sony Headphones,Tecnología,10-11-2023,3.0,1666.56,4999.680000,Transferencia,FR,Valencia,Pendiente,2023-10-11 15:00:00
13,14,1520,LUCÍA FERNÁNDEZ,84,Bolso Gucci,Moda,04-04-2024,2.0,432.55,993.808526,PayPal,spain,Barcelona,Cancelado,2024-04-04 12:00:00
14,15,1099,María García,152,Teclado Logitech,Tecnología,01-02-2024,1.0,371.83,371.830000,Tarjeta,ES,Barcelona,Cancelado,2024-01-02 06:00:00
15,16,1471,Laura Torres,108,iPhone 13,Tecnología,01-18-2024,1.0,374.97,374.970000,PayPal,FR,Valencia,Entregado,2024-01-18 09:00:00
16,17,1767,María García,189,Camiseta Adidas,Moda,20/11/2024,5.0,615.44,3077.200000,PayPal,DE,Lyon,Entregado,2024-11-20 02:00:00
17,18,1285,Pedro López,102,Sony Headphones,Tecnología,27/03/2024,5.0,"1054,27",NaN,Bizum,España,Paris,Cancelado,2024-03-27 09:00:00
18,19,1748,Laura Torres,3,Camiseta Adidas,Moda,2023-12-16,3.0,869.57,2658.330734,Transferencia,España,Paris,Entregado,2023-12-16 03:00:00
19,20,1391,David Gómez,131,Aspiradora Dyson,hogar,2024-04-22,3.0,589.55,1768.650000,Bizum,spain,Paris,Pendiente,2024-04-22 19:00:00

In [13]:
# Cambiar de tipos de datos

# orden de fecha y el cambio del signo
df['order_date'] = df['order_date'].astype(str).str.replace('/', '-', regex=False)
df['order_date'] = pd.to_datetime(df['order_date'], format='mixed', dayfirst=False, errors='coerce')

#Arreglar errores de signos ( puntos y comas )
df['unit_price'] = df['unit_price'].astype(str).str.replace('$', '', regex=False)
df['unit_price'] = df['unit_price'].str.replace(',', '.', regex=False)
df['unit_price'] = pd.to_numeric(df['unit_price'], errors='coerce')

df['unit_price'] = df['unit_price'].fillna(df.groupby('product_id')['unit_price'].transform('median'))
df['unit_price'] = df['unit_price'].fillna(0)


df['customer_name'] = df['customer_name'].astype(str).str.title().str.strip()



# Arreglar codigo del pais (seguir un unico formato de dos letras)
df['country'] = df['country'].astype(str).str.strip()

mapa_paises = {
    'Spain': 'ES', 'spain': 'ES', 'España': 'ES', 'ESP': 'ES', 
    'France': 'FR', 'france': 'FR', 'Francía': 'FR', 
    'Germany': 'DE', 'Deutschland': 'DE', 'Alemania': 'DE', 'germany': 'DE',
    'Italy': 'IT', 'Italia': 'IT', 'italy': 'IT',
    'UK': 'GB', 'United Kingdom': 'GB', 'Reino Unido': 'GB',
    'Portugal': 'PT'
}
df['country'] = df['country'].replace(mapa_paises)
df['country'] = df['country'].str.upper()

#Arreglar el precio total despues de haber arreglado cantidad nula (substituirla por 0)
df['total_price'] = df['quantity'] * df['unit_price']

df.head(5)

,order_id,customer_id,customer_name,product_id,product_name,category,order_date,quantity,unit_price,total_price,payment_method,country,city,status,update_time
0,1,1921,Lucía Fernández,25,MacBook Pro,Tecnología,2023-07-13,5.0,755.33,3776.65,Tarjeta,IT,Valencia,Cancelado,2023-07-13 21:00:00
1,2,1940,Juan Pérez,186,Samsung Galaxy,Tecnología,2024-03-25,1.0,1901.92,1901.92,Transferencia,DE,Madrid,Pendiente,2024-03-25 07:00:00
2,3,1593,Ana Sánchez,7,iPhone 13,Tecnología,2023-07-09,2.0,1466.67,2933.34,Bizum,ES,Barcelona,Entregado,2023-09-07 13:00:00
3,4,1765,María García,86,Aspiradora Dyson,Hogar,2024-08-02,3.0,1201.33,3603.99,Tarjeta,FR,Paris,Entregado,2024-08-02 02:00:00
4,5,1724,David Gómez,20,Bolso Gucci,Moda,2023-03-10,1.0,320.48,320.48,Transferencia,FR,Lyon,Entregado,2023-10-03 19:00:00
5,6,1856,Lucía Fernández,63,iPhone 13,tecnologia,2024-10-08,5.0,320.43,1602.15,Tarjeta,IT,Paris,Pendiente,2024-10-08 20:00:00
6,7,1710,Carlos Ruiz,32,iPhone 13,Tecnología,2024-03-10,1.0,125.59,125.59,Bizum,ES,Milán,Entregado,2024-03-10 23:00:00
7,8,1477,Juan Pérez,21,Reloj Casio,Accesorios,2023-03-02,3.0,1733.69,5201.07,Bizum,ES,Lyon,Entregado,2023-02-03 15:00:00
8,9,1185,Carlos Ruiz,71,Reloj Casio,Accesorios,2024-08-27,4.0,1206.22,4824.88,Transferencia,ES,Hamburgo,Pendiente,2024-08-27 15:00:00
9,10,1547,Laura Torres,94,MacBook Pro,Tecnología,2024-10-05,5.0,1419.06,7095.30,Bizum,DE,Berlín,Cancelado,2024-10-05 15:00:00
10,11,1742,David Gómez,185,Camiseta Adidas,Moda,2024-04-27,3.0,50.96,152.88,PayPal,ES,Barcelona,Pendiente,2024-04-27 05:00:00
11,12,1028,Pedro López,31,Bolso Gucci,HOGAR,2024-05-17,2.0,1940.12,3880.24,Tarjeta,DE,Hamburgo,Pendiente,2024-05-17 15:00:00
12,13,1713,María García,161,Sony Headphones,Tecnología,2023-10-11,3.0,1666.56,4999.68,Transferencia,FR,Valencia,Pendiente,2023-10-11 15:00:00
13,14,1520,Lucía Fernández,84,Bolso Gucci,Moda,2024-04-04,2.0,432.55,865.10,PayPal,ES,Barcelona,Cancelado,2024-04-04 12:00:00
14,15,1099,María García,152,Teclado Logitech,Tecnología,2024-01-02,1.0,371.83,371.83,Tarjeta,ES,Barcelona,Cancelado,2024-01-02 06:00:00
15,16,1471,Laura Torres,108,iPhone 13,Tecnología,2024-01-18,1.0,374.97,374.97,PayPal,FR,Valencia,Entregado,2024-01-18 09:00:00
16,17,1767,María García,189,Camiseta Adidas,Moda,2024-11-20,5.0,615.44,3077.20,PayPal,DE,Lyon,Entregado,2024-11-20 02:00:00
17,18,1285,Pedro López,102,Sony Headphones,Tecnología,2024-03-27,5.0,1054.27,5271.35,Bizum,ES,Paris,Cancelado,2024-03-27 09:00:00
18,19,1748,Laura Torres,3,Camiseta Adidas,Moda,2023-12-16,3.0,869.57,2608.71,Transferencia,ES,Paris,Entregado,2023-12-16 03:00:00
19,20,1391,David Gómez,131,Aspiradora Dyson,hogar,2024-04-22,3.0,589.55,1768.65,Bizum,ES,Paris,Pendiente,2024-04-22 19:00:00
20,21,1390,Juan Pérez,151,Teclado Logitech,Tecnología,2024-09-14,5.0,1227.59,6137.95,Transferencia,IT,Paris,Entregado,2024-09-14 04:00:00
21,22,1137,María García,61,Sony Headphones,Tecnología,2024-04-14,1.0,287.59,287.59,PayPal,DE,Barcelona,Pendiente,2024-04-14 15:00:00
22,23,1960,Ana Sánchez,191,Aspiradora Dyson,Hogar,2024-10-19,1.0,591.37,591.37,Transferencia,DE,Paris,Entregado,2024-10-19 14:00:00
23,24,1769,David Gómez,101,Aspiradora Dyson,Hogar,2023-01-18,1.0,739.06,739.06,PayPal,IT,Valencia,Cancelado,2023-01-18 07:00:00
24,25,1769,Laura Torres,163,Mochila North Face,Accesorios,2023-02-17,4.0,917.58,3670.32,Transferencia,DE,Barcelona,Pendiente,2023-02-17 21:00:00
25,10001,1501,Carlos Ruiz,29,Samsung Galaxy,Tecnología,2023-03-01,3.0,1572.50,4717.50,Bizum,ES,Lyon,Entregado,2023-03-01 13:00:00
26,27,1234,Juan Pérez,145,Samsung Galaxy,Tecnología,2023-08-29,5.0,407.35,2036.75,Bizum,FR,Lyon,Pendiente,2023-08-29 10:00:00
27,28,1454,Ana Sánchez,34,AirPods,Tecnología,2024-06-25,4.0,1033.33,4133.32,Tarjeta,DE,Barcelona,Cancelado,2024-06-25 08:00:00
28,29,1231,Juan Pérez,184,Silla Gaming,Hogar,2024-04-28,4.0,1188.90,4755.60,Transferencia,ES,Berlín,Cancelado,2024-04-28 07:00:00
29,30,1763,Ana Sánchez,63,Silla Gaming,Hogar,2024-04-25,1.0,102.44,102.44,PayPal,ES,Lyon,Entregado,2024-04-25 10:00:00
30,31,1676,Juan Pérez,149,Aspiradora Dyson,Hogar,2023-07-29,2.0,1219.01,2438.02,Bizum,IT,Milán,Pendiente,2023-07-29 20:00:00
31,32,1527,Pedro López,13,Sony Headphones,Tecnología,2024-01-10,3.0,349.34,1048.02,PayPal,ES,Berlín,Pendiente,2024-10-01 06:00:00
32,33,1265,David Gómez,186,Reloj Casio,Accesorios,2024-11-25,2.0,139.45,278.90,PayPal,IT,Lyon,Entregado,2024-11-25 00:00:00

In [ ]:
#SQL

In [32]:
#Creación de las tablas

#Creamos las tabla paa clientes
dim_clientes = df[["customer_id", "customer_name"]].drop_duplicates().reset_index(drop=True)

#Creamos las tabla para Productos
dim_productos = df[["product_id", "product_name", "category"]].drop_duplicates().reset_index(drop=True)

#Creamos la tabla con los datos de los pedidos
fact_pedidos = df[["order_id", "customer_id", "product_id", "order_date", "quantity", "unit_price", "total_price", "payment_method",
                  "country", "city", "status", "update_time"]].copy()

In [33]:
#Conectamos las tablas con la base de datos
conn = sqlite3.connect("warehouse_pandas.db")

In [34]:
#Añadimos las tablas creadas anteriormente a la base de datos y las reemplazamos si ya existen
dim_clientes.to_sql("dim_clientes", conn, if_exists="replace", index=False)
dim_productos.to_sql("dim_productos", conn, if_exists="replace", index=False)
fact_pedidos.to_sql("fact_pedidos", conn, if_exists="replace", index=False)

10000

In [ ]:
#Prueba de consulta
df_fact = pd.read_sql("SELECT * FROM fact_pedidos", conn)
df_fact.head()

In [ ]:
#Cerramos la conexión con la base de datos.
conn.close()